# GROQ LLM Gateway
# Get & replace key from https://console.groq.com/keys
GROQ_API_KEY=xxxx
# Use - groq/gemma2-9b-it:Unlimited but not as accurate, mistral-saba-24b:Limited but better accuracy, llama-3.3-70b-versatile: Limited use but much better accuracy
LITELLM_MODEL=llama-3.3-70b-versatile
# Get & replace key from https://platform.openai.com/settings/organization/api-keys
# OPENAI_API_KEY=xxx
# OPENAI_MODEL_NAME=gpt-4-0125-preview